@use "./components/bases";
@use "./components/button";
@use "./layout/header";
@use "./layout/footer";
@use "./sections/contact";
@use "./sections/hero";
@use "./sections/promotion";
@use "./sections/quality";