@use "../abstracts/variables" as *;

.contact {

    @media (min-width: $desktop-width) {
        height: 200px;
    }

    &_title {
        position: relative;
        width: 80%;
        margin: 0 auto;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: $lightblue;
            margin-top: 10px;
            width: 310px;
            margin: 10px auto;
            max-width: 100%;
        }
    }

    &_description {
        font-size: 0.7rem;
        text-align: center;
        padding: 0 6px;
        color: $font-color;

        @media (min-width: $desktop-width) {
            font-size: 0.8rem;
            width: 50%;
            margin: 20px  auto;
            margin-top: 10px;
        }
    }

    &_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 32px;
        max-width: 600px;

        @media (min-width: $desktop-width) {
            flex-direction: row;
            justify-content: center;
            gap: 12px;
            margin: 0 auto;
        }
    }
    
    &_form_stuff {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        gap: 1rem;

        @media (min-width: $desktop-width) {
                flex-direction: row;
        }
    }

    &_button {
    padding: 10px 10px;
    }

    label {
            font-weight: bold;
            margin-right: 8px;
            width: 42px;
        }
        
        input {
            padding: 6px 8px;
        }
}