@use "../abstracts/variables" as *;

.promotion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background-promotion;
    height: 600px;
    margin-top: 35px;
    margin-bottom: 25px;
    padding: 16px;
    gap: 15px;


    @media (min-width: $desktop-width) {
        flex-direction: row;
        justify-content: center;
        height: auto;
    }

    &_card {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
        box-sizing: border-box;
        width: 95%;

    @media (min-width: $desktop-width) {
        width: 450px;
        margin-top: 20px;
        margin-bottom: 52px;
    }

    &:nth-child(1) {
        background-image: url("/image/article_image-1.jpg");
    }

    &:nth-child(2) {
        background-image: url("/image/article_image-2.jpg");
    }
}

    &_content {
        background-color: $white;
        height: 250px;
        min-width: 130px;
        max-width: 180px;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px 0 0 8px;
        opacity: 0.96;
    }

    &_title {
        position: relative;
        margin: 0;
        width: 90%;
        text-align: center;
        font-size: 1rem;

        &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #ccc;
        margin-top: 16px;
        margin-bottom: 10px;
        }
    }

    &_description {
        font-style: italic;
        text-align: center;
        color: $font-color;
        font-size: 12px;
    }

    &_button {
        margin-top: 1rem;
        padding: 7px 20px;
    }
}
