@use "../abstracts/variables" as *;

.quality {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    
    @media (min-width: $desktop-width) {
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        height: 250px;
    }
}