@use "../abstracts/variables" as *;


@mixin button($bg-color: $framboise, $text-color: $white) {
  background-color: $bg-color;
  color: $text-color;
  padding: 10px 22px;
  border: none;
  border-radius: 4px;
}